{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    あなたの選択
{% endblock %}

{% block content %}

<div id="paragraph1">
    あなたは<b>参加者２</b>です。
</div>

<br>

<div id="paragraph2">
    同じグループの参加者１が{{ Constants.endowment }}のうち、あなたに渡すポイントを決める前に、
    あなたが参加者３にいくら渡すかを決めます。
    あなたは参加者１から受け取ったポイントのうち何％を参加者３に渡しますか。
    0から200の間の<b>整数</b>で選択してください。
</div>

<br>

<div id="paragraph3">
    なお、あなたが100％より低い数字を選択したら、参加者１から受け取ったポイントの一部はあなたのポイントになります。
    また、あなたが100％より大きい数字を選択したら、参加者１から受け取ったポイントとあなたのポイントの一部を参加者３に渡します。
</div>

<br>

<div id="calculator">
    以下の空欄に数字を打ち込むことで、あなたの最終的なポイントを計算することができます。
    <ul>
        <li>
            参加者１が渡した<input maxlength="3" style="width: 50px;" type="text" id="receive">ポイントの
            <input maxlength="3" style="width: 50px;" type="text" id="multiply">％を渡す
            <input type="button" value="計算する" onclick="pi()">
        </li>
        <li>
            あなたの最終的なポイント：<span id="payoff">100</span>ポイント
        </li>
    </ul>
</div>


{% formfields %}

{% next_button %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    function pi() {
        let receive = parseInt(document.getElementById("receive").value);
        var multiply = parseInt(document.getElementById("multiply").value);
        var calculation = 100 - (multiply / 100 - 1) * receive;
        var calculation = Math.round(calculation);

        var payoff = document.getElementById("payoff");
        payoff.innerText = calculation;

    }

</script>

{% endblock %}