{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    実験のご協力ありがとうございます
{% endblock %}

{% block content %}

<div id="payment-information">
  これで実験は終了となります。
  報酬は<b>参加費</b>と<b>成果報酬</b>の合計です。
  <ul>
    <li>
      参加費：{{ participation_fee }}
    </li>
    <li>
      成果報酬：10ラウンドの実験のうち、ランダムに2つのラウンドを選びます。
      各ラウンドで獲得したあなたのポイントを合計し、それを成果報酬とします。
      1ポイント＝5円で成果報酬が円に換算されます。
    </li>
  </ul>
</div>
<br>
<div id="realized-payment">
  あなたの報酬は以下の通りです。
  <ul>
    <li>参加費：{{ participation_fee }}</li>
    <li>成果報酬：{{ realized_payoff }}（{{ p4p }}）</li>
    <li>最終的な実験報酬：<b>{{ get_money }}</b></li>
  </ul>
</div>
<br>
<div id="please-wait">
  このあと、お一人ずつ呼んで、実験報酬をお支払いします。
  今しばらくお待ちください。
</div>

{% endblock %}

