{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    あなたの選択
{% endblock %}

{% block content %}

<div id="paragraph1">
    あなたは<b>参加者１</b>です。
</div>

<br>

<div id="paragraph2">
    あなたが持っている {{ C.ENDOWMENT }} からいくらを<b>参加者２</b>に渡すかを決めてください。
    また、参加者２はあなたから受け取ったポイントのうち{{ dictator_rule }}％を<b>参加者３</b>に渡します。
</div>

<br>

{% if dictator_rule < 100 %}
    <div id="paragraph3a">
        <b>したがって、あなたが渡したポイントのうち一部は参加者２のポイントになります。</b>
    </div>
{% elif dictator_rule > 100 %}
    <div id="paragraph3b">    
        <b>したがって、あなたが渡したポイントの加えて、参加者２が自身のポイントを使って参加者３に渡します。</b>
    </div>
{% endif %}

<br>

<div id="calculator">
    以下の空欄に数字を打ち込むことで、あなたと他２人の最終的なポイントを計算することができます。
    <ul>
        <li>
            あなたが渡した<input maxlength="3" style="width: 50px;" type="text" id="receive">ポイントのうち、
            参加者２が{{ dictator_rule }}％を参加者３に渡す
            <input type="button" value="計算する" onclick="pi()">
        </li>
        <li>
            あなたの最終的なポイント：<span id="piP">100</span>ポイント
        </li>
        <li>
            参加者２の最終的なポイント：<span id="piD">100</span>ポイント
        </li>
        <li>
            参加者３の最終的なポイント：<span id="piR">0</span>ポイント
        </li>
    </ul>
</div>

{% formfields %}

{% next_button %}

{% endblock %}

{% block scripts %}

<script type="text/javascript">

    function pi() {
        var multiply = js_vars.x;
        var receive = parseInt(document.getElementById("receive").value);

        var piP = document.getElementById("piP");
        var cal_piP = 100 - receive;
        var cal_piP = Math.round(cal_piP);
        piP.innerText = cal_piP;

        var piD = document.getElementById("piD");
        var cal_piD = 100 - (multiply / 100 - 1) * receive;
        var cal_piD = Math.round(cal_piD);
        piD.innerText = cal_piD;

        var piR = document.getElementById("piR");
        var cal_piR = receive * multiply/100;
        var cal_piR = Math.round(cal_piR);
        piR.innerText = cal_piR;
    }

</script>

{% endblock %}