{{ extends "global/Survey.html" }}
{{ load otree }}
{{ block title }}
  解答解説
{{ endblock }}

{{ block content }}
  <div class="alert alert-danger" role="alert">
    すべての問題の解説を読まないと、「次へ」のボタンが押せません。
  </div>
  <div id="case-1">
    <h6>問題1</h6>
    <p>以下の状況を想像し、下の設問に解答してください。</p>
    <p>
      メンバーＰとメンバーＤは初めに {{ endowment1 }}トークン を持っています。対して、メンバーＲは初めにトークンを保有していません。ここで、メンバーＰは自身のトークンのうち {{ send1 }}トークン をメンバーＤに渡し、メンバーＤは受け取ったトークンの {{ allocation1 }}％ をメンバーＲに渡しました。
    </p>
    <ul>
      <li>
        {{ if player.err1 != 0 }}
          <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
        {{ endif }}
        <span>
          メンバーＰの最終的な獲得トークンはいくらですか？0～200の整数（半角数字）で解答してください。
        </span>
        <ul>
          <li>あなたの解答：{{ player.q1 }}トークン</li>
          <li>正解：{{ correct_q1 }}トークン</li>
        </ul>
        <br>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comment1" aria-expanded="false" aria-controls="comment1" onclick="check_q1()">
          解説
        </button>
        <div class="collapse" id="comment1">
          <div class="card card-body">
            メンバーＰは、メンバーＤに {{ send1 }} トークンを渡しています。
            メンバーＰの獲得トークンは初めに持っていたトークンからメンバーＤに渡したトークンを差し引いたものなので、 {{ correct_q1 }} トークンとなります。
          </div>
        </div>
      </li>
      <br>
      <li>
        {{ if player.err2 != 0 }}
          <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
        {{ endif }}
        <span>
          メンバーＤの報酬がタイプ1（メンバーＤが獲得したトークン）で決まるとき、
          メンバーＤの最終的な獲得トークンはいくらですか？0～200の整数（半角数字）で解答してください。
        </span>
        <ul>
          <li>あなたの解答：{{ player.q2 }}トークン</li>
          <li>正解：{{ correct_q2 }}トークン</li>
        </ul>
        <br>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comment2" aria-expanded="false" aria-controls="comment2" onclick="check_q2()">
          解説
        </button>
        <div class="collapse" id="comment2">
          <div class="card card-body">
            報酬がタイプ1で決まるとき、メンバーＤの獲得トークンは自身の獲得したトークンで決まります。メンバーＤは、メンバーＰから受け取った {{ send1 }} トークンの {{ allocation1 }}％ をメンバーＲに渡します。すなわち、メンバーＤは {{ correct_q3 }} トークンをメンバーＲに渡します。足りないトークンはメンバーＤが初めに持っていたトークンで補われます。したがって、メンバーＤは自身のトークンのうち {{ change_d_1 }} トークンをメンバーＲに渡すので、メンバーＤの獲得トークンは {{ correct_q2 }} トークンです。
          </div>
        </div>
      </li>
      <br>
      <li>
        {{ if player.err3 != 0 }}
          <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
        {{ endif }}
        <span>
          メンバーＲの最終的な獲得トークンはいくらですか？0～200の整数（半角数字）で解答してください。
        </span>
        <ul>
          <li>あなたの解答：{{ player.q3 }}トークン</li>
          <li>正解：{{ correct_q3 }}トークン</li>
        </ul>
        <br>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comment3" aria-expanded="false" aria-controls="comment3" onclick="check_q3()">
          解説
        </button>
        <div class="collapse" id="comment3">
          <div class="card card-body">
            メンバーＲは初めにトークンを持っていないので、獲得トークンはメンバーＤから受け取ったトークンのみです。メンバーＤは、メンバーＰから受け取った {{ send1 }} トークンの {{ allocation1 }}％ をメンバーＲに渡します。したがって、メンバーＤの獲得トークンは {{ correct_q3 }} トークンです。
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="case2">
    <h6>問題2</h6>
    <p>以下の状況を想像し、下の設問に解答してください。</p>
    <p>
      メンバーＰとメンバーＤは初めに {{ endowment2 }}トークン を持っています。対して、メンバーＲは初めにトークンを保有していません。ここで、メンバーＰは自身のトークンのうち {{ send2 }}トークン をメンバーＤに渡し、メンバーＤは受け取ったトークンの {{ allocation2 }}％ をメンバーＲに渡しました。
    </p>
    <ul>
      <li>
        {{ if player.err4 != 0 }}
          <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
        {{ endif }}
        <span>
          メンバーＲの最終的な獲得トークンはいくらですか？0～200の整数（半角数字）で解答してください。
        </span>
        <ul>
          <li>あなたの解答：{{ player.q4 }}トークン</li>
          <li>正解：{{ correct_q4 }}トークン</li>
        </ul>
        <br>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comment4" aria-expanded="false" aria-controls="comment4" onclick="check_q4()">
          解説
        </button>
        <div class="collapse" id="comment4">
          <div class="card card-body">
            <p>
              メンバーＲは初めにトークンを持っていないので、獲得トークンはメンバーＤから受け取ったトークンのみです。メンバーＤは、メンバーＰから受け取った {{ send2 }} トークンの {{ allocation2 }}％ をメンバーＲに渡します。したがって、メンバーＤの獲得トークンは {{ correct_q4 }} トークンです。
            </p>
            <p>
              <b>重要！！</b>
              この場合、メンバーＤがメンバーＰから受け取ったトークンをメンバーＲに渡しても、
              メンバーＰから受け取ったトークンに余り（{{ change_d_2 }} トークン）が生じます。
              <b>
                余ったトークンはメンバーＰものになりません。
              </b>
              したがって、メンバーＰの獲得トークンは {{ correct2.patron }} トークン、
              メンバーＤの獲得トークンは {{ correct2.dictator }} トークンになります（報酬の決まり方がタイプ1の場合）。
            </p>
          </div>
        </div>
      </li>
      <br>
      <li>
        {{ if player.err5 != 0 }}
          <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
        {{ endif }}
        <span>
          メンバーＤの報酬がタイプ2（メンバーＲが獲得したトークン）で決まるとき、
          メンバーＲの最終的な獲得トークンはいくらですか？0～200の整数（半角数字）で解答してください。
        </span>
        <ul>
          <li>あなたの解答：{{ player.q5 }}トークン</li>
          <li>正解：{{ correct_q5 }}トークン</li>
        </ul>
        <br>
        <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#comment5" aria-expanded="false" aria-controls="comment5" onclick="check_q5()">
          解説
        </button>
        <div class="collapse" id="comment5">
          <div class="card card-body">
            <p>
              報酬がタイプ1で決まるとき、メンバーＤの獲得トークンはメンバーＲの獲得したトークンで決まります。
              メンバーＲの獲得トークンの決まり方は一つ前の解説にあります。
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" id="next" disabled>次へ</button>
{{ endblock }}

{{ block scripts }}
  <script src="{{ static 'global/js/quiz-checker.js' }}"></script>
{{ endblock }}