{% extends "global/Survey.html" %}
{% load otree %}
{% block title %}
解答解説：問題{{ num }}
{% endblock %}

{% block content %}
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" aria-valuemax="{{ C.NUMBER_Q }}" id="progressbar"></div>
</div>
<br>

<p>以下の状況を想像してください。</p>

<div class="round">
  <p>
    メンバーPが初めに保有しているポイントは <b>{{ endowment }}</b> ポイントです。
    メンバーDが初めに保有しているポイントは <b>{{ endowment }}</b> ポイントです。
    メンバーRが初めに保有しているポイントは <b>0</b> ポイントです。
  </p>
  <p>
    ここで、メンバーPは自身のポイントのうち <b>{{ send }}</b> ポイントをメンバーDに渡し、
    メンバーDは受け取ったポイントを <b>{{ allocation }}％</b> にしてメンバーRに渡しました。
  </p>
</div>

<p>以下の設問について解答してください。</p>

<div class="your answer 1">
  <p class="oneline">
    {% if error_patron %}
    <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
    {% endif %}
    <span>メンバーPの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</span>
  </p>
  <ul>
    <li>あなたの解答：{{ answer_patron }}ポイント</li>
    <li>正解：{{ correct_patron }}ポイント</li>
  </ul>
</div>

<div class="your answer 2">
  <p class="oneline">
    {% if error_dictator %}
    <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
    {% endif %}
    <span>メンバーDの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</span>
  </p>
  <ul>
    <li>あなたの解答：{{ answer_dictator }}ポイント</li>
    <li>正解：{{ correct_dictator }}ポイント</li>
  </ul>
</div>

<div class="your answer 3">
  <p class="oneline">
    {% if error_receiver %}
    <img src="{{ static 'global/image/incorrection.png' }}" width="20"/>
    {% endif %}
    <span>メンバーRの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</span>
  </p>
  <ul>
    <li>あなたの解答：{{ answer_receiver }}ポイント</li>
    <li>正解：{{ correct_receiver }}ポイント</li>
  </ul>
</div>

<hr>

<div class = "commentary">
  <h3>解説</h3>
  <p>{{ commentary }}</p>
</div>

<hr>

<p>確認出来たら、「次へ」のボタンを押してください。</p>

{% next_button %}

{% endblock %}