{% extends "global/Survey.html" %}
{% load otree %}
{% block title %}
問題{{ num }}
{% endblock %}

{% block content %}
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" aria-valuemax="{{ C.NUMBER_Q }}" id="progressbar"></div>
</div>
<br>

<p><b>問題{{ num }}</b>：以下の状況を想像してください。</p>

<div class="round">
  <p>
    メンバーPが初めに保有しているポイントは <b>{{ endowment }}</b> ポイントです。
    メンバーDが初めに保有しているポイントは <b>{{ endowment }}</b> ポイントです。
    メンバーRが初めに保有しているポイントは <b>0</b> ポイントです。
  </p>
  <p>
    ここで、メンバーPは自身のポイントのうち <b>{{ send }}</b> ポイントをメンバーDに渡し、
    メンバーDは受け取ったポイントを <b>{{ allocation }}％</b> にしてメンバーRに渡しました。
  </p>
</div>

<p>以下の設問について解答してください。</p>

{% formfields %}

{% next_button %}

{% endblock %}