{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
確認問題１
{% endblock %}

{% block content %}
<style>
  .situation{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
</style>

<p>以下の状況を想像してください。</p>

<div class="situation">
  <p>
    メンバーPが初めに保有しているポイントは100ポイントです。
    メンバーDが初めに保有しているポイントは100ポイントです。
    メンバーRが初めに保有しているポイントは0ポイントです。
    ここで、メンバーPは自身のポイントのうち50ポイントをメンバーDに渡し、
    メンバーDは受け取ったポイントを100％にしてメンバーRに渡しました。
  </p>
</div>

<p>以下の設問について解答してください。</p>

{% formfields %}

{% next_button %}

{% endblock %}
