{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    あなたの選択の順番を決めてください
{% endblock %}

{% block content %}

<p>
    あなたは<b>参加者２</b>です。
</p>

<p>
    あなたは同じグループの参加者１から受け取ったポイントを使って、
    参加者３に渡すポイントを決めます。
</p>

<p>
    最初に、あなたがいつ参加者３に渡すポイントを決めるかを選択します。
    あなたは次の２つの選択から一つを選んでください。
    <ul>
        <li>
            First: <b>参加者１からポイントを受け取る前に</b>、参加者３に渡すポイントを決めます。
        </li>
        <li>
            Second: <b>参加者１からポイントを受け取った後に</b>、参加者３に渡すポイントを決めます。
        </li>
    </ul>
</p>

{% formfields %}

{% next_button %}

{% endblock %}
