{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    意思決定の順番の結果
{% endblock %}

{% block content %}

<p>
    次の順番にしたがって参加者１と参加者２が意思決定をします。
</p>

{% if choice %}
<p>
<ol>
    <li>
        参加者２が、参加者１から受け取ったポイントを自身と参加者３でどのように分けるかを決めます
    </li>
    <li>
        参加者１が、参加者２に渡すポイントを決めます
    </li>
</ol>
</p>
{% else %}
<p>
<ol>
    <li>
        参加者１が、参加者２に渡すポイントを決めます
    </li>
    <li>
        参加者２が、参加者１から受け取ったポイントを自身と参加者３でどのように分けるかを決めます
    </li>
</ol>
</p>
{% endif %}


{% next_button %}

{% endblock %}
