{% extends "global/Survey.html" %}
{% load otree %}
{% block title %}
事後調査
{% endblock %}

{% block content %}
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" aria-valuemax="9" id="progressbar"></div>
</div>

<div class="round">
  <p>
    あなたは、「充分に食べられるにも関わらず様々な理由で消費されない食品を受け取り、
    児童養護施設や生活困窮家庭などの食品支援を必要とする施設・団体・家庭（個人）に提供する」
    有名な慈善団体を知ったとします。
  </p>
  <p>
    <b>
      ここで、ある財団の協力を得て、マッチングギフトの仕組みが導入されることになりました。
      この仕組みは「あなたの選択する寄付額と同じ額を、その財団が上乗せして、2倍の額が寄付先に届けられる」というものです。
    </b>
  </p>
  <p>
    たとえば、あなたが100円を寄付した場合、食品支援を必要とする慈善団体に200円を寄付したことになります。
  </p>
</div>

{% formfields %}

{% next_button %}

{% endblock %}