{% extends "global/Experiment.html" %}
{% load otree static %}

{% block title %}
    選択：あなたは送り手です
{% endblock %}

{% block content %}
<div class="progress" style="height: 20px">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
</div>
<br>
<div id="current-situation">
    現在、あなたは{{ C.ENDOWMENT }}を保有しています。
    <br>
    あなたは{{ C.ENDOWMENT }}のうち何トークンを同じグループの受け手に渡すか決めてください。
</div>
<br>
<div id="form message">
  0から100の間の<b>整数（半角数字）</b>で以下のフォームに入力してください。
</div>

<br>
{% formfields %}
{% next_button %}

{% endblock %}