{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
解答解説：確認問題 ({{ num }}/5)
{% endblock %}

{% block content %}
<style>
  .situation{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
</style>

<p>以下の状況を想像してください。</p>

<div class="situation">
  <p>
    メンバーPが初めに保有しているポイントは <b>100</b> ポイントです。
    メンバーDが初めに保有しているポイントは <b>100</b> ポイントです。
    メンバーRが初めに保有しているポイントは <b>0</b> ポイントです。
  </p>
  <p>
    ここで、メンバーPは自身のポイントのうち <b>{{ send }}</b> ポイントをメンバーDに渡し、
    メンバーDは受け取ったポイントを <b>{{ allocation }}％</b> にしてメンバーRに渡しました。
  </p>
</div>

<p>以下の設問について解答してください。</p>

<div class="your answer 1">
  <p>メンバーPの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</p>
  <ul>
    <li>あなたの解答：{{ answer_patron }}ポイント</li>
    <li>正解：{{ correct_patron }}ポイント</li>
  </ul>
</div>

<div class="your answer 2">
  <p>メンバーDの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</p>
  <ul>
    <li>あなたの解答：{{ answer_dictator }}ポイント</li>
    <li>正解：{{ correct_dictator }}ポイント</li>
  </ul>
</div>

<div class="your answer 3">
  <p>メンバーRの最終的な獲得ポイントはいくらですか？ 0～200の整数（半角数字）で解答してください。</p>
  <ul>
    <li>あなたの解答：{{ answer_receiver }}ポイント</li>
    <li>正解：{{ correct_receiver }}ポイント</li>
  </ul>
</div>

<hr>

<div class = "commentary">
  <h3>解説</h3>
  <p>{{ commentary }}</p>
</div>

<hr>

<p>確認出来たら、「次へ」のボタンを押してください。</p>

{% next_button %}

{% endblock %}
