{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
確認問題
{% endblock %}

{% block content %}
<style>
  .situation{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
  }
</style>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" aria-valuemax="5" id="progressbar"></div>
</div>
<br>

<p><b>問題{{ num }}</b>：以下の状況を想像してください。</p>

<div class="situation">
  <p>
    メンバーPが初めに保有しているポイントは <b>{{ C.ENDOWMENT }}</b> ポイントです。
    メンバーDが初めに保有しているポイントは <b>{{ C.ENDOWMENT }}</b> ポイントです。
    メンバーRが初めに保有しているポイントは <b>0</b> ポイントです。
  </p>
  <p>
    ここで、メンバーPは自身のポイントのうち <b>{{ send }}</b> ポイントをメンバーDに渡し、
    メンバーDは受け取ったポイントを <b>{{ allocation }}％</b> にしてメンバーRに渡しました。
  </p>
</div>

<p>以下の設問について解答してください。</p>

{% formfields %}

{% next_button %}

{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ static 'global/js/setProgress.js' }}"></script>
{% endblock %}