.round {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
}
.oneline img {
  vertical-align: middle;
  display: inline-block;
}
.oneline span {
  display: inline-block;
}
