{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    あなたの選択
{% endblock %}

{% block content %}

<p>
    あなたは<b>参加者２</b>です。
    あなたが持っているポイントは<b>{{ Constants.endowment }}</b>です。
</p>

<p>
    同じグループの参加者１から<b>{{ receive_amount }}</b>を受け取りました。
    あなたは参加者１から受け取ったポイントのうち何％を参加者３に渡しますか。
    ０から２００の間の<b>整数</b>で選択してください。
</p>

<p>
    なお、あなたが１００％より低い数字を選択したら、
    参加者１から受け取ったポイントの一部はあなたのものになります。
    したがって、あなたが最終的に受け取るポイントは
    <b>{{ Constants.endowment }}と参加者１から受け取ったポイントの一部の合計</b>となります。
</p>

<p>
    また、あなたが１００％より大きい数字を選択したら、
    参加者１から受け取ったポイントのすべてを参加者３に渡し、
    足りないポイントはあなたが持っているものから補います。
    したがって、あなたが最終的に受け取るポイントは
    <b>{{ Constants.endowment }}から参加者３に渡したあなたのポイントを引いたもの</b>となります。
</p>

{% formfields %}

{% next_button %}

{% endblock %}
