{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    あなたの選択
{% endblock %}

{% block content %}

<p>
    あなたは<b>参加者２</b>です。
    あなたが持っているポイントは{{ Constants.endowment }}です。
</p>

<p>
    同じグループの参加者１から {{ receive_amount }} を受け取りました。
    あなたは参加者１から受け取ったポイントのうち何％を参加者３に渡しますか。
    ０から２００の間の<b>整数</b>で選択してください。
</p>

<p>
    なお、あなたが１００％より低い数字を選択したら、
    参加者１から受け取ったポイントの一部はあなたのポイントになります。
    また、あなたが１００％より大きい数字を選択したら、
    参加者１から受け取ったポイントとあなたのポイントの一部を参加者３に渡します。
</p>

{% formfields %}

{% next_button %}

{% endblock %}
