{{ extends "global/Experiment.html" }}
{{ load otree static }}
{{ block title }}
  あなたのターン
{{ endblock }}
{{ block content }}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  <div id="your-situation">
    {{ if group.dictator_first }}
      <p>あなたは{{ C.ENDOWMENT }}トークンを持っています。あなたはメンバーＰから受け取ったトークンのうち何％をメンバーＲに渡しますか？</p>
      <ul>
        <li>
          100％より低い数字：メンバーＰから受け取ったトークンの一部をメンバーＲに渡します。残ったトークンはあなたのものになります。
        </li>
        <li>
          100％より大きい数字：メンバーＰから受け取ったトークンに自身が保有するトークンを上乗せして、メンバーＲに渡します。
        </li>
      </ul>
    {{ else }}
      <h5>あなたは{{ C.ENDOWMENT }}トークンを持っています。あなたは{{ C.ENDOWMENT }}トークンのうち何トークンを同じグループのメンバーＤに渡しますか？</h5>
    {{ endif }}
  </div>
  {{ if group.dictator_first }}
    <div id="fd-another-situation" class="alert alert-primary" role="alert">
      <h6>注意</h6>
      <ul>
        <li>あなたの選択の後に、メンバーＰが{{ C.ENDOWMENT }}からいくらをあなたに自身のトークンを渡すか決めます。このとき、<b>メンバーＰはあなたがこの画面でどのような選択をしたのかを知っていること</b>に注意してください。</li>
      </ul>
    </div>
    {{ formfield "allocation" }}
  {{ else }}
    {{ if not group.contractible_s }}
      <div id="sd-another-situation" class="alert alert-primary" role="alert">
        <h6>注意</h6>
        <ul>
          <li>
            この後、メンバーＤがあなたから受け取ったトークンの0～200％をメンバーＲに渡す意思決定をします。
            <ul>
              <li>100％より低い数字：あなたから受け取ったトークンの一部をメンバーＲに渡します。残ったトークンはメンバーＤのものになります。</li>
              <li>100％より大きい数字：あなたから受け取ったトークンに、メンバーＤが保有するトークンを上乗せして、メンバーＲに渡します。</li>
            </ul>
          </li>
          {{ if group.dictator_promise }}
            <li>
              メンバーＤは現在、<b>あなたから受け取ったトークンの{{ group.promise }}％</b>をメンバーＲに渡す予定です。あなたの選択の後に、メンバーＤがこの計画を修正する可能性があります。
            </li>
          {{ endif }}
        </ul>
      </div>
    {{ endif }}
  {{ formfield "send" }}
  {{ endif }}
  {{ if group.contractible_s }}
    <br>
    <div id="your-situation-contractible">
      <h5>また、あなたは、メンバーＤに渡したトークンの何％をメンバーＲに渡しますか？</h5>
      <ul>
        <li>100％より低い数字：あなたから受け取ったトークンの一部をメンバーＲに渡します。残ったトークンはメンバーＤのものになります。</li>
        <li>100％より大きい数字：あなたから受け取ったトークンに、メンバーＤが保有するトークンを上乗せして、メンバーＲに渡します。</li>
      </ul>
    </div>
    <div id="another-situation-contractible" class="alert alert-primary" role="alert">
      <h6>注意</h6>
      <ul>
        <li>メンバーＤはこの画面でのあなたの選択に従います。</li>
      </ul>
    </div>
    {{ formfield "allocation" }}
  {{ endif }}
  <p>
    <b>
      あなたの選択を決めるとき、計算機を是非ご活用ください。
    </b>
  </p>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#calculator">
    計算機
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="calculator" tabindex="-1" aria-labelledby="calculator" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="calculator-title">計算機</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>メンバーＰとメンバーＤの選択を入力する（半角数字）ことで、あなたのグループのメンバーが獲得するトークンを確認できます。他のメンバーの行動はご自身で予測して入力してください。</p>
          <ul>
            <li>
              メンバーＰ：
              <input style="width: 50px;" type="number" min="0" max="100" id="send">
              トークンをメンバーＤに渡す
            </li>
            <li>
              メンバーＤ：
              メンバーＰから受け取ったトークンの
              <input style="width: 50px;" type="number" min="0" max="200" id="multiply">
              ％をメンバーＲに渡す
            </li>
          </ul>
          <button type="button" class="btn btn-outline-secondary" onclick="payoff()">計算する</button>
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">獲得トークン</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">メンバーＰ</th>
                <td><span id="result-p">100トークン</span></td>
              </tr>
              <tr>
                <th scope="row">メンバーＤ</th>
                <td><span id="result-d">100トークン</span></td>
              </tr>
              <tr>
                <th scope="row">メンバーＲ</th>
                <td><span id="result-r">0トークン</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <br>
  <br>

  <p>
    フォームの入力が終わりましたら、「次へ」のボタンを押してください。
  </p>

  {{ next_button }}
{{ endblock }}

{{ block scripts }}
  <script src="{{ static 'global/js/first-mover.js' }}"></script>
{{ endblock }}