{% extends "global/Survey.html" %}
{% load otree %}
{% block title %}
{% if first_half %}
これから、前半の実験を始めます
{% else %}
これから、後半の実験を始めます
{% endif %}
{% endblock %}

{% block content %}

{% if first_half %}
  {% if first_half_fd %}
  <div class="alert alert-primary" role="alert">
    前半の実験では、<b>メンバーD→メンバーP</b>の順番で意思決定を行います。
  </div>
  {% else %}
  <div class="alert alert-primary" role="alert">
    前半の実験では、<b>メンバーP→メンバーD</b>の順番で意思決定を行います。
  </div>
  {% endif %}
{% else %}
  {% if first_half_fd %}
  <div class="alert alert-primary" role="alert">
    後半の実験では、<b>メンバーP→メンバーD</b>の順番で意思決定を行います。
  </div>
  {% else %}
  <div class="alert alert-primary" role="alert">
    後半の実験では、<b>メンバーD→メンバーP</b>の順番で意思決定を行います。
  </div>
  {% endif %}
{% endif %}

<p>確認出来たら、「次へ」のボタンを押してください。</p>

{% next_button %}

{% endblock %}