{% extends "global/Experiment.html" %}
{% load otree static %}

{% block title %}
    このグループでのあなたの役割
{% endblock %}

{% block content %}

<div class="progress" style="height: 20px">
  <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
</div>
<br>
{% if group.dictator_first %}
{% if player.role == "Patron" %}
<div class="alert alert-warning" role="alert">
  あなたは <b>メンバーP</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①同じグループのメンバーDがあなたから受け取ったトークンの何％をメンバーRに渡すかを事前に決めます。
  <br><br>
  ②あなたが同じグループのメンバーDに渡すトークンを決めます。
</div>
{% elif player.role == "Dictator" %}
<div class="alert alert-info" role="alert">
  あなたは <b>メンバーD</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①あなたが同じグループのメンバーPから受け取ったトークンの何％をメンバーRに渡すかを事前に決めます。
  <br><br>
  ②同じグループのメンバーPがあなたに渡すトークンを決めます。
</div>
{% else %}
<div class="alert alert-success" role="alert">
  あなたは <b>メンバーR</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①同じグループのメンバーDがメンバーPから受け取ったトークンの何％をあなたに渡すかを事前に決めます。
  <br><br>
  ②同じグループのメンバーPがメンバーDに渡すトークンを決めます。
</div>
<p>
  メンバーDとメンバーPの役割を持った参加者の選択が終わるまで、しばらくお待ちください。
</p>
{% endif %}
{% else %}
{% if player.role == "Patron" %}
<div class="alert alert-warning" role="alert">
  あなたは <b>メンバーP</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①あなたが同じグループのメンバーDに渡すトークンを決めます。
  <br><br>
  ②同じグループのメンバーDがあなたから受け取ったトークンの何％をメンバーRに渡すかを決めます。
</div>
{% elif player.role == "Dictator" %}
<div class="alert alert-info" role="alert">
  あなたは <b>メンバーD</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①同じグループのメンバーPがあなたに渡すトークンを決めます。
  <br><br>
  ②あなたが同じグループのメンバーPから受け取ったトークンの何％をメンバーRに渡すかを決めます。
</div>
{% else %}
<div class="alert alert-success" role="alert">
  あなたは <b>メンバーR</b> です。
</div>
<p>
  意思決定の順番は以下の通りです。
</p>
<div class="alert alert-secondary" role="alert">
  ①同じグループのメンバーPがメンバーDに渡すトークンを決めます。
  <br><br>
  ②同じグループのメンバーDがメンバーPから受け取ったトークンの何％をあなたに渡すかを決めます。
</div>
<p>
  メンバーDとメンバーPの役割を持った参加者の選択が終わるまで、しばらくお待ちください。
</p>
{% endif %}
{% endif %}

<p>あなたの役割を確認したら、下のボタンを押してください。</p>

{% next_button %}

{% endblock %}