{{ extends "global/Experiment.html" }}
{{ load otree static }}

{{ block title }}
  あなたの役割
{{ endblock }}

{{ block content }}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  <div id="role">
    <h5>あなたの役割は</h5>
    <h1 style="text-align: center;">
      {{ if player.role == "Patron" }}
        <b>メンバーＰ</b>
      {{ elif player.role == "Dictator" }}
        <b>メンバーＤ</b>
      {{ else }}
        <b>メンバーＲ</b>
      {{ endif }}
    </h1>
    <p>です。</p>
  </div>
  <hr noshade>
  {{ if player.role == "Dictator" }}
    <div id="dictator-type">
      <h5>あなたの報酬は</h5>
      <h2 style="text-align: center;">
      {{ if player.participant.altruistic_dictator }}
        <b>タイプ２（メンバーＲが獲得したトークン）</b>
      {{ else }}
        <b>タイプ１（あなたが獲得したトークン）</b>
      {{ endif }}
      </h2>
      <p>で決まります。他の参加者はあなたの報酬の決まり方を知りません。</p>
    </div>
  <hr noshade>
  {{ endif }}
  {{ if group.feedback }}
    {{ if player.role != "Receiver" }}
      <div id="nickname">
        <h5>あなたのニックネームは</h5>
        <h3 style="text-align: center;">{{ player.participant.nickname }}</h3>
        <p>
          です。
          {{ if player.role == "Patron" }}
            同じグループのメンバーＤはあなたのニックネームを知っています。
          {{ else }}
            同じグループのメンバーＰはあなたのニックネームを知っています。
          {{ endif }}
        </p>
        {{ if player.role == "Patron" }}
          <h5>同じグループのメンバーＤのニックネームは</h5>
          <h3 style="text-align: center;">{{ group.d_label }}</h3>
          <p>です。</p>
        {{ else }}
          <h5>同じグループのメンバーＰのニックネームは</h5>
          <h3 style="text-align: center;">{{ group.p_label }}</h3>
          <p>です。</p>
        {{ endif }}
      </div>
      <hr noshade>
    {{ endif }}
  {{ endif }}
  <div id="decision-flow">
    意思決定の順番は以下の通りです。
    <div class="alert alert-secondary">
      {{ if group.dictator_first }}
        <ol>
          <li>メンバーＤ：メンバーＰから受け取ったトークンの何％をメンバーＲに渡すかを決めます。</li>
          <li>メンバーＰ：メンバーＤに渡すトークンを決めます。</li>
        </ol>
      {{ else }}
        {{ if group.dictator_promise }}
          <ol>
            <li>メンバーＤ：メンバーＰから受け取ったトークンの何％をメンバーＲに渡すかを決めます。</li>
            <li>メンバーＰ：メンバーＤに渡すトークンを決めます。</li>
            <li>メンバーＤ：１番目で決めた意思決定を修正できます。</li>
          </ol>
        {{ elif group.contractible_s }}
          <ol>
            <li>メンバーＰ：メンバーＤに渡すトークンを決めます。また、メンバーＤに渡したトークンの何％をメンバーＲに渡すかを決めます。</li>
            <li>メンバーＤ：メンバーＰが決めた意思決定に従って、メンバーＰから受け取ったトークンの何％をメンバーＲに渡すかを決めます。</li>
          </ol>
        {{ else }}
          <ol>
            <li>メンバーＰ：メンバーＤに渡すトークンを決めます。</li>
            <li>メンバーＤ：メンバーＰから受け取ったトークンの何％をメンバーＲに渡すかを決めます。</li>
          </ol>
        {{ endif }}
      {{ endif }}
    </div>
  </div>
  <div id="confirm">
    <p>
      あなたの役割を確認したら、下のボタンを押してください。
    </p>
  </div>
  {{ next_button }}
{{ endblock }}