{{ extends "global/Experiment.html" }}
{{ load otree static }}

{{ block title }}
  あなたの選択
{{ endblock }}

{{ block content }}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  <div id="your-situation">
    {{ if group.dictator_first }}
      <p>現在、あなたは{{ C.GAME_ENDOWMENT }}を保有しています。あなたは{{ C.GAME_ENDOWMENT }}のうち何トークンを同じグループのメンバーＤに渡しますか？</p>
      <p>メンバーＤは事前に、あなたから受け取ったトークンの<b>{{ allocation }}％</b>をメンバーＲに渡すと決めています。</p>
    {{ else }}
      {{ if group.contractible_s }}
        <p>現在、あなたは{{ C.GAME_ENDOWMENT }}を持っています。さらに、同じグループのメンバーＰは{{ C.GAME_ENDOWMENT }}のうち、<b>{{ send }}トークン</b>をあなたに渡しました。</p>
        <p>メンバーＰは、あなたに渡した{{ send }}トークンの<b>{{ group.allocation }}％</b>をメンバーＲに渡すように指示しています。あなたはこの指示に従わなくてはなりません。</p>
      {{ else }}
        <p>現在、あなたは{{ C.GAME_ENDOWMENT }}を持っています。さらに、同じグループのメンバーＰは{{ C.GAME_ENDOWMENT }}のうち、<b>{{ send }}トークン</b>をあなたに渡しました。あなたはメンバーＰから受け取った<b>{{ send }}トークン</b>の何％（0～200％）をメンバーＲに渡しますか？</p>
        <ul>
          <li>100％より低い数字：メンバーＰから受け取ったトークンの一部をメンバーＲに渡します。残ったトークンはあなたのものになります。</li>
          <li>100％より大きい数字：メンバーＰから受け取ったトークンに、あなたが保有するトークンを上乗せして、メンバーＲに渡します。</li>
        </ul>
        {{ if group.dictator_promise }}
          <div class="alert alert-primary" role="alert">
            <h4>注意</h4>
            <p>あなたは最初に同じ意思決定をしました。しかし、この画面での意思決定が三人の利得を決めます。</p>
          </div>
        {{ endif }}
      {{ endif }}
    {{ endif }}
  </div>
  {{ formfields }}
  {{ next_button }}
  {{ if group.dictator_first }}
  <hr>
  <div id="about-fd-calculator">
    <h4>計算機</h4>
    <p>
      あなたの選択を以下の入力し、「計算する」ボタンを押すと、あなたと他２人の最終的なトークンを確認できます。
    </p>
  </div>
  <div id="fd-calculator">
    <div id="fd-calculator-form" class="alert alert-secondary" role="alert">
      あなたの選択：
      <input style="width: 50px;" type="number" min="0" max="100" id="send">
      トークン（半角数字）をメンバーＤに渡す
      <input type="button" value="計算する" onclick="pi()">
    </div>
    <div id="fd-calculator-result">
      <table border="1" style="border-collapse: collapse" width="500">
        <tr>
          <th>グループメンバー</th>
          <th>トークン</th>
        </tr>
        <tr>
          <td>メンバーＰ（<b>あなた</b>）</td>
          <th><span id="fd-calculator-result-p">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＤ</td>
          <th><span id="fd-calculator-result-d">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＲ</td>
          <th><span id="fd-calculator-result-r">？？</span></th>
        </tr>
      </table>
    </div>
  </div>
  {{ else }}
    {{ if not group.contractible_s }}
      <hr>
      <div id="about-sd-calculator">
        <h4>計算機</h4>
        <p>
          あなたの選択を以下の入力し、「計算する」ボタンを押すと、あなたと他２人の最終的なトークンを確認できます。
        </p>
      </div>
      <div id="sd-calculator">
        <div id="sd-calculator-form" class="alert alert-secondary" role="alert">
          あなたの選択：メンバーＰから受け取った{{ send }}トークンのうち
          <input style="width: 50px;" type="number" min="0" max="200" id="multiply">
          ％（半角数字）をメンバーＲに渡す
          <input type="button" value="計算する" onclick="pi()">
        </div>
        <div id="sd-calculator-result">
          <table border="1" style="border-collapse: collapse" width="500">
            <tr>
              <th>グループメンバー</th>
              <th>トークン</th>
            </tr>
            <tr>
              <td>メンバーＰ</td>
              <th><span id="sd-calculator-result-p">？？</span></th>
            </tr>
            <tr>
              <td>メンバーＤ（<b>あなた</b>）</td>
              <th><span id="sd-calculator-result-d">？？</span></th>
            </tr>
            <tr>
              <td>メンバーＲ</td>
              <th><span id="sd-calculator-result-r">？？</span></th>
            </tr>
          </table>
        </div>
      </div>
    {{ endif }}
  {{ endif }}
{{ endblock }}

{{ block scripts }}
  {{ if group.dictator_first }}
  <script src="{{ static 'global/js/second-patron-cal.js' }}"></script>
  {{ else }}
  <script src="{{ static 'global/js/second-dictator-cal.js' }}"></script>
  {{ endif }}
{{ endblock }}