{{ extends "global/Experiment.html" }}
{{ load otree static }}

{{ block title }}
  あなたのターン
{{ endblock }}

{{ block content }}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  <div id="your-situation">
    {{ if group.dictator_first }}
      <p>現在、あなたは{{ C.ENDOWMENT }}トークンを保有しています。あなたは{{ C.ENDOWMENT }}のうち何トークンを同じグループのメンバーＤに渡しますか？</p>
      <p>メンバーＤは事前に、あなたから受け取ったトークンの<b>{{ allocation }}％</b>をメンバーＲに渡すと決めています。</p>
    {{ else }}
      {{ if group.contractible_s }}
        <p>現在、あなたは{{ C.ENDOWMENT }}トークンを持っています。さらに、同じグループのメンバーＰは{{ C.ENDOWMENT }}トークンのうち、<b>{{ send }}トークン</b>をあなたに渡しました。</p>
        <p>メンバーＰは、あなたに渡した{{ send }}トークンの<b>{{ group.allocation }}％</b>をメンバーＲに渡すように指示しています。あなたはこの指示に従わなくてはなりません。</p>
      {{ else }}
        <p>現在、あなたは{{ C.ENDOWMENT }}トークンを持っています。さらに、同じグループのメンバーＰは{{ C.ENDOWMENT }}トークンのうち、<b>{{ send }}トークン</b>をあなたに渡しました。あなたはメンバーＰから受け取った<b>{{ send }}トークン</b>の何％（0～200％）をメンバーＲに渡しますか？</p>
        <ul>
          <li>100％より低い数字：メンバーＰから受け取ったトークンの一部をメンバーＲに渡します。残ったトークンはあなたのものになります。</li>
          <li>100％より大きい数字：メンバーＰから受け取ったトークンに、あなたが保有するトークンを上乗せして、メンバーＲに渡します。</li>
        </ul>
        {{ if group.dictator_promise }}
          <div class="alert alert-primary" role="alert">
            <h4>注意</h4>
            <ul>
              <li>あなたは最初に同じ意思決定をしました。しかし、この画面での意思決定が三人の利得を決めます。</li>
              <li>他のメンバーはあなたがこの画面でどのような選択したかを確認できません。</li>
            </ul>
          </div>
        {{ endif }}
      {{ endif }}
    {{ endif }}
  </div>
  {{ formfields }}
  {{ if group.dictator_first or not group.contractible_s }}
    <div id="use-calculator">
      <p>
        <b>
          あなたの選択を決めるとき、以下の計算機をご活用ください。
          フォームの入力が終わりましたら、計算機の下にある「次へ」のボタンを押してください。
        </b>
      </p>
    </div>
    <hr>
    <div id="calculator">
      <h5>計算機</h5>
      <p>
        あなたの選択を入力する（半角数字）ことで、あなたのグループのメンバーが獲得するトークンを確認できます。
      </p>
      {{ if group.dictator_first }}
        <ul>
          <li>
            メンバーＰ：
            <input style="width: 50px;" type="number" min="0" max="100" id="send">
            トークンをメンバーＤに渡す
          </li>
          <li>
            メンバーＤ：
            メンバーＰから受け取ったトークンの
            {{ allocation }}
            ％をメンバーＲに渡す
          </li>
        </ul>
        <button type="button" class="btn btn-outline-secondary" onclick="follower_patron_payoff()">計算する</button>
      {{ else }}
        <ul>
          <li>
            メンバーＰ：
            {{ send }}
            トークンをメンバーＤに渡す
          </li>
          <li>
            メンバーＤ：
            メンバーＰから受け取ったトークンの
            <input style="width: 50px;" type="number" min="0" max="200" id="multiply">
            ％をメンバーＲに渡す
          </li>
        </ul>
        <button type="button" class="btn btn-outline-secondary" onclick="follower_dictator_payoff()">計算する</button>
      {{ endif }}
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">獲得トークン</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">メンバーＰ</th>
            <td><span id="result-p">100トークン</span></td>
          </tr>
          <tr>
            <th scope="row">メンバーＤ</th>
            <td><span id="result-d">100トークン</span></td>
          </tr>
          <tr>
            <th scope="row">メンバーＲ</th>
            <td><span id="result-r">0トークン</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
  {{ endif }}
  {{ next_button }}
{{ endblock }}

{{ block scripts }}
  {{ if group.dictator_first }}
  <script src="{{ static 'global/js/second-mover-p.js' }}"></script>
  {{ else }}
  <script src="{{ static 'global/js/second-mover-d.js' }}"></script>
  {{ endif }}
{{ endblock }}