{% extends "global/Experiment.html" %}
{% load otree static %}

{% block title %}
  選択：あなたは{{ role }}です
{% endblock %}

{% block content %}
  <div class="progress" style="height: 20px">
    <div class="progress-bar bg-success" role="progressbar" aria-label="Progress" aria-valuemin="0" id="progressbar"></div>
  </div>
  <br>
  {% if group.dictator_first %}
    <div id="fd-your-situation" class="alert alert-warning" role="alert">
      <p>
        <b>あなたの状況と選択について</b>
      </p>
      <p>
        現在、あなたは{{ C.ENDOWMENT }}を保有しています。
      </p>
      <p>
        あなたは{{ C.ENDOWMENT }}のうち何トークンを同じグループのメンバーＤに渡すか決めてください。
      </p>
      <p>
        メンバーＤはあなたから受け取ったトークンのうち <b>{{ allocation }}％</b> をメンバーＲに渡すことを事前に決めました。
      </p>
    </div>
    <div id="fd-form">
      <p>
        下部にある「計算機」を使うと、三人の最終的なトークンを予測できます。
      </p>
      <p>
        「計算機」などを活用してあなたの選択を決めた後に、0から100の間の<b>整数（半角数字）</b>で以下のフォームに入力してください。
      </p>
    </div>
  {% else %}
    <div id="sd-your-situation" class="alert alert-info" role="alert">
      <p>
        <b>あなたの状況と選択について</b>
      </p>
      <p>
        現在、あなたは{{ C.ENDOWMENT }}を持っています。
      </p>
      <p>
        同じグループのメンバーＰは{{ C.ENDOWMENT }}のうち、 <b>{{ send }}トークン</b> をあなたに渡しました。
      </p>
      <p>
        あなたはメンバーＰから受け取った <b>{{ send }}トークン</b> を、1トークン当たり何トークンで、メンバーＲに渡すかを決めてください。
      </p>
      <ul>
        <li>
          メンバーＲは（あなたが選択した数字）× {{ send }}トークンを受け取ります。
        </li>
        <li>
          1以下を選択した場合：メンバーＲにトークンを渡すとき、1トークン当たり（1－あなたが選択した数字）トークンだけ余ります。
          <ul>
            <li>
              余ったトークン、（1－あなたが選択した数字）× {{ send }}トークンはあなたのものになります。
            </li>
          </ul>
        </li>
        <li>
          1以上を選択した場合：メンバーＲにトークンを渡すとき、1トークン当たり（あなたが選択した数字－1）トークンだけ足りません。
          <ul>
            <li>
              足りないトークン、（あなたが選択した数字－1）× {{ send }}トークンはあなたが保有するトークンで補われます。
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div id="sd-form">
      <p>
        下部にある「計算機」を使うと、三人の最終的なトークンを予測できます。
      </p>
      <p>
        あなたは0から2の範囲から0.1刻みで選択できます。以下のフォームからあなたの選択を選んで、「次へ」を押してください。
      </p>
    </div>
  {% endif %}
  {% formfields %}
  {% next_button %}
  <hr>
  <div id="about-calculator">
    <h4>計算機</h4>
    <p>
      あなたの選択を以下の入力し、「計算する」ボタンを押すと、あなたと他２人の最終的なトークンを確認できます。
    </p>
  </div>
  {% if group.dictator_first %}
  <div id="fd-calculator">
    <div id="fd-calculator-form" class="alert alert-secondary" role="alert">
      あなたの選択：
      <input style="width: 50px;" type="number" min="0" max="100" id="send">
      トークン（半角数字）をメンバーＤに渡す
      <input type="button" value="計算する" onclick="pi()">
    </div>
    <div id="fd-calculator-result">
      <table border="1" style="border-collapse: collapse" width="500">
        <tr>
          <th>グループメンバー</th>
          <th>トークン</th>
        </tr>
        <tr>
          <td>メンバーＰ（<b>あなた</b>）</td>
          <th><span id="fd-calculator-result-p">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＤ</td>
          <th><span id="fd-calculator-result-d">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＲ</td>
          <th><span id="fd-calculator-result-r">？？</span></th>
        </tr>
      </table>
    </div>
  </div>
  {% else %}
  <div id="sd-calculator">
    <div id="sd-calculator-form" class="alert alert-secondary" role="alert">
      あなたの選択：メンバーＰから受け取った{{ send }}トークンを、1トークン当たり
      <select id="multiply">
        <option value=""></option>
        <option value="0">0</option>
        <option value="10">0.1</option>
        <option value="20">0.2</option>
        <option value="30">0.3</option>
        <option value="40">0.4</option>
        <option value="50">0.5</option>
        <option value="60">0.6</option>
        <option value="70">0.7</option>
        <option value="80">0.8</option>
        <option value="90">0.9</option>
        <option value="100">1.0</option>
        <option value="110">1.1</option>
        <option value="120">1.2</option>
        <option value="130">1.3</option>
        <option value="140">1.4</option>
        <option value="150">1.5</option>
        <option value="160">1.6</option>
        <option value="170">1.7</option>
        <option value="180">1.8</option>
        <option value="190">1.9</option>
        <option value="200">2.0</option>
      </select>
      トークンで、メンバーＲに渡す
      <input type="button" value="計算する" onclick="pi()">
    </div>
    <div id="sd-calculator-result">
      <table border="1" style="border-collapse: collapse" width="500">
        <tr>
          <th>グループメンバー</th>
          <th>トークン</th>
        </tr>
        <tr>
          <td>メンバーＰ</td>
          <th><span id="sd-calculator-result-p">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＤ（<b>あなた</b>）</td>
          <th><span id="sd-calculator-result-d">？？</span></th>
        </tr>
        <tr>
          <td>メンバーＲ</td>
          <th><span id="sd-calculator-result-r">？？</span></th>
        </tr>
      </table>
    </div>
  </div>
{% endif %}
{% endblock %}

{% block scripts %}
  {% if group.dictator_first %}
  <script src="{{ static 'global/js/second-patron-cal.js' }}"></script>
  {% else %}
  <script src="{{ static 'global/js/second-dictator-cal.js' }}"></script>
  {% endif %}
{% endblock %}